<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
  <link href="mystyle.css" rel="stylesheet"/>
  <title>P2P Chat Enter Page</title>
</head>
<body>
  <h1 class="well">Register</h1>
  <div class="container">
    <span th:if="${error} == 'The username field is empty.'"><p class="alert-danger" th:text="${error}"></p></span>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel panel-heading">
              <p>User</p>
            </div>
            <div class="panel-body">
              <strong>Choose your username:</strong>
              <span>
                <form method="post" action="/enter/add">
                <input th:type="text" name="name"/>
                <button class="btn btn-primary" th:type="submit">Enter</button>
                </form>
              </span>
            </div>
          </div>
        </div>
      </div>
    <img th:src="@{/sabers.png}" class="img-responsive"/>
  </div>
  <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
  <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>