<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
  <h1>Peer to Peer chat program</h1>
  <p th:text="${error}"></p>
  <p>Your username:</p>
  <span>
    <form method="get" action="/update">
      <input th:type="text" name="newName" th:placeholder="${userName}"/>
      <input th:type="submit" value="Update"/>
    </form>
  <ul>
    <li th:each="message:${messageList}" th:utext="${message.userName} + '&lt;br/&gt;' + ${message.message}"></li>
  </ul>
  </span>
</body>
</html>