<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
  <link href="mystyle.css" rel="stylesheet"/>
  <title>P2P Chat Main Page</title>
</head>
<body>
  <h1 class="well">Peer to Peer chat program</h1>
  <div class="container">
    <span th:if="${error} == 'The username field is empty.'"><p class="alert alert-danger" th:text="${error}"></p></span>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>User</p>
        </div>
        <div class="panel-body">
          <strong>Your username:</strong>
          <form method="get" action="/update">
            <input th:type="text" name="newName" th:placeholder="${userName}"/>
            <button class="btn btn-primary" th:type="submit">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>Chat</p>
          </div>
          <div class="panel-body">
            <ul>
              <li th:each="message:${messageList}" th:utext="${message.getUserName()} + '&lt;br/&gt;' + ${message.getMessage()}"></li>
            </ul>
            <p><strong>Message:</strong></p>
            <form method="post" action="/send">
              <input class="inputclass" type="text"  name="message"/>
              <button class="btn btn-primary" th:type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
  <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
</body>
</html>